/node_modules
/dist/vendor
/dist/config
dploy.yaml
/npm-debug.log
/src/img/store
/dist/.htaccess
.DS_Store
/*.DS_Store
/.sass-cache
#ignore all the glob maps for the scss folder, but dont ignore partials and global.scss
/src/scss/*.scss
!/src/scss/global.scss
!/src/scss/partials/*.scss
/dploy.yaml
